
.dropdown {
    position: relative;
    width: initial;
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
    font-size: 12px;
    text-align: left;
    margin: 1px;
}

.header-dropdown {
    height: 35px;
    line-height: 35px;
    margin: 0 1px;
}

.dropdown .dropdown-toggle {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 2px;
    padding: 0 7px;
    background: #6e86a5;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #6e86a5\9;
}

.header-dropdown .dropdown-toggle {
    background: none;
    color: #fff;
    height: 35px;
    line-height: 35px;
}

.dropdown .dropdown-toggle:hover {
    opacity: 0.6;
}

.header-dropdown .dropdown-toggle:hover {
    opacity: 1;
}

.header-dropdown .dropdown-toggle {
    border: 0;
    color: #fff;
    height: 35px;
    line-height: 35px;
    opacity: 1;
}

.dropdown .dropdown-toggle:before {
    float: right;
    position: relative;
    right: -4px;
}

.dropdown .dropdown-menu {
    border: 1px solid #e4e4ea;
    position: absolute;
    left: -99999px;
    top: 24px;
    background: #fff;
    z-index: 999;
    color: #666;
}

.header-dropdown .dropdown-menu {
    border: 1px solid #e4e4ea;
    position: absolute;
    left: -99999px;
    top: 33px;
    background: #fff;
    z-index: 999;
    color: #666;
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
    .header-dropdown .dropdown-menu {
        top: 34px;
    }
}

.dropdown .dropdown-toggle:hover + .dropdown-menu {
    left: auto;
}

.dropdown .dropdown-toggle:hover + .align-right {
    right: 0;
    left: inherit;
}

.dropdown .dropdown-menu:hover {
    left: auto;
}

.dropdown .align-right:hover {
    right: 0;
    left: inherit;
}

.dropdown .dropdown-menu-item {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.header-dropdown .dropdown-menu-item {
    min-width: 70px;
}

.dropdown .dropdown-menu-item:hover {
    background: #f1f1f6;
    color: #5292E2;
}

.dropdown .dropdown-menu-item > a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 7px;
}

.dropdown .dropdown-menu-item:hover > a {
    color: #5292E2;
}

.dropdown .split-icon {
    background: #6e86a5;
    opacity: 0.8;
    border: 0;
    color: #fff;
    width: 20px;
    padding: 0 19px 0 3px;
}

    .dropdown .split-icon:hover {
        color: #fff;
        opacity: 1;
    }

.split-btn {
    margin-left: -2px;
}

    .split-btn .dropdown-toggle {
        padding: 0px 10px 0px 2px;
    }

/*分裂式按钮 图标前面的按钮*/
.split-text {
    display: inline-block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    border: 0;
    cursor: pointer;
    background: #6e86a5;
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    border-radius: 2px;
}

    .split-text:hover {
        opacity: 0.6;
    }

a:hover {
    text-decoration: none;
}
