<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- Shiji后端Webapi应用配置 -->
	<add key="ApiVersion" value="1.0.0" />

  <add key="dbserver" value="." />
  <add key="dbname" value="AcTest_l" />
  <add key="dbuser" value="sa" />
  <add key="dbpass" value="123456" />

	<!--<add key="dbserver" value="10.13.10.108,60300" />
	<add key="dbname" value="sjtest_hr" />
	<add key="dbuser" value="sa" />
	<add key="dbpass" value="@#shijiyfb9.58#@" />-->

	<add key="dbserver01" value="10.13.10.108,60300" />
	<add key="dbname01" value="sjtest_hr" />

	<add key="dbserver02" value="10.13.10.108,60300" />
	<add key="dbname02" value="sjtest_zl" />

	<add key="dbserver03" value="10.13.10.108,60300" />
	<add key="dbname03" value="sjtest_hrtest" />

	<!--登录信息失效时长：单位分钟-->
	<add key="sessionTimeout" value="20" />
	<!-- Shiji后端Webapi应用配置 -->

	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!-- Shiji后端Webapi应用配置 -->
	<add key="sessionTimeout" value="30" />
	<!-- Shiji后端Webapi应用配置 -->

	<!--缓存的实现配置-->
	<!--<add key="cacheImpl" value="redis"/>-->
	<add key="redisconn" value="10.13.10.108:6379,password=!@#123shiji,defaultDatabase=0"/>

</appSettings>

