/* 页面头部 */
.header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    background: #5292E2;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
}
    /* 企业标识容器 */
    .header .header-logo {
        display: inline-block;
        margin-left: 6px;
        height: 100%;
    }
    /* 企业logo */
    .header .header-logo-img {
        max-width: 300px;
        max-height: 34px;
        display: inline-block;
    }
    /* 企业名称 */
    .header .header-logo-text {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
    }
    /* 头部功能 */
    .header .header-action {
        margin: 0 6px;
        height: 35px;
        float:right\9;
    }
    /* 头部功能列表 */
    .header .header-action-link {
        color: #fff;
        cursor: pointer;
    }
    /* 头部功能项 */
    .header .header-action-listitem {
        display: inline-block;
        list-style: none;
        padding-left: 15px;
        line-height: 35px;
    }
    /* 头部功能分割线 */
    .header .v-split {
        width: 1px;
        border-left: 1px solid #ffffff;
        height: 22px;
        vertical-align: top;
        display: inline-block;
        opacity: 0.3;
        margin-top: 5px;
    }

.header-messge {
    position: absolute;
    top: 2px;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    background: #f00;
    text-align: center;
    line-height: 16px;
    margin-left: 10px;
    font-size: 12px;
}

.header-messge-main {
    position: absolute;
    top: 2px;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    background: #f00;
    text-align: center;
    line-height: 16px;
    margin-left: 10px;
    font-size: 12px;
}
/* 页面体 */
.main {
    width: 100%;
    height: calc(100% - 65px);
    min-width: 840px;
}
/* 页面菜单容器 */
.nav-menu {
    display: flex;
    height: 30px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    width: 100%;
    background: #f1f1f6;
    border-bottom: 1px solid #e4e4ea;
}
    /* 系统选择 */
    .nav-menu .nav-menu-system {
        color: #85888e;
    }
    /* 系统选择和菜单分割线 */
    .nav-menu .v-split {
        width: 1px;
        border-left: 1px solid #666;
        height: 18px;
        vertical-align: middle;
        display: inline-block;
        opacity: 0.2;
        margin-top: 5px;
        margin-left: 10px;
    }
    /* 菜单 */
    .nav-menu .nav-menu-main {
        display: flex;
        height: 30px;
    }
    .nav-menu-disable{ color :#ccc}
    .nav-menu-item a { width:100%; display: block;}
    
    /* 菜单项(不区分级别) */
    .nav-menu .nav-menu-item {
        list-style-type: none;
        margin: 0 10px;
        height: 29px;
        line-height: 29px;
        position: relative;
        display:inline-block\9;
    }
        /*菜单选中样式(不区分级别)*/
        .nav-menu .nav-menu-item:hover {
            background: #b7b7ca;
            color: #666;
        }
/*2级 及其以后菜单选中样式*/
.nav-menu-item > .nav-menu-main > .nav-menu-item:hover {
    background: #f1f1f6;
    color: #666;
}
/*菜单手型(不区分级别)*/
.nav-menu .nav-menu__item--action {
    cursor: pointer;
    padding: 0 8px;
    white-space: nowrap;
}
/*菜单字体颜色(不区分级别)*/
.nav-menu-item:hover > .nav-menu__item--action {
    color: #fff;
}
/*2级 及其以后菜单字体颜色*/
.nav-menu-item > .nav-menu-main > .nav-menu-item:hover > .nav-menu__item--action {
    color: #666;
}
/*2级 及其以后的菜单容器*/
.nav-menu-item .nav-menu-main {
    display: block;
    height: auto;
    min-width: 68px;
    position: absolute;
    left: -9999px;
    z-index: 999;
    background: #fff;
    border: 1px solid #b7b7ca;
}

    .nav-menu-item .nav-menu-main .nav-menu__item--action {
        padding: 0 5px;
    }
    /*2级 及其以后的菜单项边距清空*/
    .nav-menu-item .nav-menu-main .nav-menu-item {
        margin: 0px;
        width:100%\9;
    }

/*菜单容器hover定位(不区分级别)*/
.nav-menu-item:hover > .nav-menu-main {
    left: auto;
}

/*2级及其子容器定位*/
.nav-menu .nav-menu-main .nav-menu-main .nav-menu-main {
    margin-left: 100%;
    top: 0;
}

/* 页面尾 */
.footer {
    height: 30px;
    width: 100%;
    background: #f1f1f6;
    text-align: center;
    border-top: 1px solid #e4e4ea;
    min-width: 840px;
    position: relative;
    z-index: 999;
}

    .footer .footer-icon {
        line-height: 30px;
        color: #2059a8;
        margin-right: 6px;
        font-size: 16px;
    }

    .footer .footer-text {
        vertical-align: top;
        line-height: 26px;
        font-size: 12px;
    }

.tabs-main {
    background: #f1f1f6;
    width: 100%;
    height: 100%;
}

.home-page-container {
    width: 100%;
    height: 100%;
    /* background: url(../Content/images/loginbg1.jpg) no-repeat center; */
}

.footer-main {
    width: 100%;
    display: flex;
    line-height: 28px;
    padding: 0 10px;
    justify-content: space-between;
    white-space: nowrap\9;
}
    .footer-main li {
        display: inline-block\9;
    }
    .footer-main li:first-child {
        float:left\9;
    }
    .footer-main li:last-child {
        float: right\9;
    }
