
@{
    ViewBag.Title = "Index";
}

<form id="form" action="/Import/">
    输入姓名: <input type="text" id="myname" /><br>
    输入年龄: <input type="text" id="myage" /><br>
    <input type="button" value="提交" onclick="do1()" />
</form>
<script>
    function do1() {
    $.post("Home/Do1", { name: $("#myname").val(), age: $("#myage").val()}, function() {

        })
    }
    function do2() {
        $.post("/Home/Do2", function () {

        })
    }
</script>